@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 98%;
      --foreground: 228 8% 24%;
      --muted: 0 12% 90%;
      --muted-foreground: 0 12% 30%;
      --popover: 0 0% 95%;
      --popover-foreground: 228 8% 14%;
      --card: 0 0% 96%;
      --card-foreground: 228 8% 19%;
      --border: 0 0% 93%;
      --input: 0 0% 90%;
      --primary: 228 8% 24%;
      --primary-foreground: 228 8% 84%;
      --secondary: 0 0% 75%;
      --secondary-foreground: 0 0% 15%;
      --accent: 0 0% 83%;
      --accent-foreground: 0 0% 23%;
      --destructive: 10 89% 24%;
      --destructive-foreground: 10 89% 84%;
      --ring: 228 8% 24%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 0 0% 98%;
      --foreground: 228 8% 24%;
      --muted: 0 12% 90%;
      --muted-foreground: 0 12% 30%;
      --popover: 0 0% 95%;
      --popover-foreground: 228 8% 14%;
      --card: 0 0% 96%;
      --card-foreground: 228 8% 19%;
      --border: 0 0% 93%;
      --input: 0 0% 90%;
      --primary: 228 8% 24%;
      --primary-foreground: 228 8% 84%;
      --secondary: 0 0% 75%;
      --secondary-foreground: 0 0% 15%;
      --accent: 0 0% 83%;
      --accent-foreground: 0 0% 23%;
      --destructive: 10 89% 24%;
      --destructive-foreground: 10 89% 84%;
      --ring: 228 8% 24%;
    }
  }
  

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }